{% extends "base.html" %}
{% block body %}
<h3> Gênero Alimentício Cadastrados </h3>

<a href="{{url_for('routes_bp.form_genero')}}"> Inserir Gênero Alimentício </a>

<table border="1">
    <thead>
        <tr>
            <td> Gênero Alimentício </td>
            <td> Unidade de Medida </td>
            <td> Estoque minimo </td>
        </tr>
    </thead>
    <tbody id="tabela-genero">
        <!-- Conteúdo inserido via JS -->
    </tbody>
</table>

<script>
    async function carregarGeneros() {
        try {
            const response = await fetch("/api/genero");
            const dados = await response.json();

            const tbody = document.getElementById("tabela-genero");
            tbody.innerHTML = "";

            dados.forEach(g => {
                const linha = `
                    <tr>
                        <td>${g.nome}</td>
                        <td>${g.unidade_medida}</td>
                        <td>${g.estoque_minimo}</td>
                    </tr>
                `;
                tbody.innerHTML += linha;
            });

        } catch (erro) {
            console.error("Erro ao carregar dados:", erro);
        }
    }

    // Carrega ao abrir a página
    carregarGeneros();
</script>

{% endblock %}